body{
    background-color: lightgray;
}
#outer{
    position: absolute;
    height: 550px;
    width: 800px;
    top: 75px;
    left: 200px;
    border: 4px solid black;
    background-color: white;
}

#title-bar{
    position: absolute;
    top: 20px;
    right: 40px;
}
#links{
    position: absolute;
    top: 100px;
    right: 40px;
}
#logo{
    position: absolute;
    left: 40px;
}
#form-stud{
    position: absolute;
    top: 180px;
    left: 40px;
}

#submit{
    width:100px;
    height: 30px;
}
